<span style="color:green" ><%= notice %></span>

<p>
  <strong><%= Person.human_attribute_name(:id) %>: </strong>
  <%= @person.id %>
  <br>
  <strong><%= Person.human_attribute_name(:name) %>: </strong>
  <%= @person.name %>
  <br>
  <strong><%= Person.human_attribute_name(:created_at) %>: </strong>
  <%= datahora_br(@person.created_at) %>
  <br>
  <strong><%= Person.human_attribute_name(:updated_at) %>: </strong>
  <%= datahora_br(@person.updated_at) %>
</p>

<p>
  <strong><%= Order.model_name.human(count: 2) %>: </strong>
  <br>
  <%= simple_format(@person.person_orders) %>
</p>

<%= link_to t('links.edit'), edit_person_path(@person), class:"btn btn-primary"  %>
<%= link_to t('links.back'), people_path, class:"btn btn-outline-primary"   %>
