<span style="color:green" ><%= notice %></span>

<p>
  <strong><%= Person.human_attribute_name(:id) %>: </strong>
  <%= @person.id %>
  <br>
  <strong><%= Person.human_attribute_name(:name) %>: </strong>
  <%= @person.name %>
  <br>
  <strong><%= Person.human_attribute_name(:created_at) %>: </strong>
  <%= datahora_br(@person.created_at) %>
  <br>
  <strong><%= Person.human_attribute_name(:updated_at) %>: </strong>
  <%= datahora_br(@person.updated_at) %>
</p>

<%= link_to t('links.edit'), edit_person_path(@person), class:"btn btn-primary" %>

<hr class="my-4">

<%= form_tag(person_path, method: :get) do %>
  <h3><%= t('search.title') %></h3>
  <div class="row">
    <div class="col-9">
      <%= search_field_tag :search, params[:search], placeholder: t('search.placeholder'), class:"form-control" %>
    </div>
    <div class="col-1">
      <%= button_tag t('search.button'), class:"btn btn-outline-primary", name: nil%>
    </div>
  </div>
<% end %>

<br>

<h4><%= Order.model_name.human(count: 2) %>: </h4>

<%@results.each do |order| %>
  <p>
  <b><%= Order.human_attribute_name(:id) %>: </b><%= order.id %><br>
  <b><%= Order.human_attribute_name(:name) %>: </b><%= order.name %><br>
  <b><%= Order.human_attribute_name(:created_at) %>: </b><%= order.created_at.strftime("%d/%m/%Y %H:%M") %><br>
  <b><%= Order.human_attribute_name(:products) %>: </b> <%= order.products.pluck(:name).join(", ") %><br>
  <b><%= t('total_value') %>: </b> R$ <%= order.total_value %>
  </p>
<%end%>

<br>

<%= link_to t('links.back'), people_path, class:"btn btn-outline-primary" %>
