<span style="color:green" ><%= notice %></span>

<p>
  <strong><%= Person.human_attribute_name(:id) %>: </strong>
  <%= @person.id %>
  <br>
  <strong><%= Person.human_attribute_name(:name) %>: </strong>
  <%= @person.name %>
  <br>
  <strong><%= Person.human_attribute_name(:created_at) %>: </strong>
  <%= datahora_br(@person.created_at) %>
  <br>
  <strong><%= Person.human_attribute_name(:updated_at) %>: </strong>
  <%= datahora_br(@person.updated_at) %>
</p>

<hr class="my-4">

<div class="row">
  <div class="col">
    <p>
      <strong><%= Order.model_name.human(count: 2) %>: </strong>
      <br>
      <%= simple_format(@person.person_orders) %>
    </p>
  </div>

  <div class="col">
    <%= form_with(url: person_path, method: :get) do |f| %>
      <%= f.label(:search) %>
      <div class="row">
        <div class="col-10">
          <%= f.search_field(:search, value: params[:search], class:"form-control" ) %>
        </div>
        <div class="col-1">
          <%= f.submit("Pesquisar", class:"btn btn-primary" ) %>
        </div>
      </div>
    <% end %>
    
    <% @person.orders.each do |order| %>
      <% product = order.products.find_by(name: params[:search]) %>
      <% if params[:search] == "" %>
        <% puts "Parametro está vazio #{product}" %>
      <% else %>
        <% puts "Parametro possui valor #{product}" %>
        <p><%= link_to "Pedido ##{order.id}", order_path(order.id) %></p>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<%= link_to t('links.edit'), edit_person_path(@person), class:"btn btn-primary"  %>
<%= link_to t('links.back'), people_path, class:"btn btn-outline-primary"   %>
