<span style="color:green" ><%= notice %></span>

<p>
  <strong><%= OrderDetail.human_attribute_name(:quantity) %></strong>
  <%= @order_detail.quantity %>
</p>

<%= link_to t('links.edit'), edit_order_detail_path(@order_detail), class:"btn btn-primary"  %> |
<%= link_to t('links.back'), order_details_path %>
