<h1>Seja bem-vindo</h1>
<p>O idioma usado nessa aplicação é: <%= t('language') %></p>
<p><strong>Data:</strong> <%= l(Date.today) %></p>

<ul>
  <li><%= link_to "Cadastro de pedidos",  orders_path %></li>
  <li><%= link_to "Cadastro de produtos",  products_path %></li>
  <li><%= link_to "Cadastro de pessoas",  people_path %></li>
</ul>