<div class="jumbotron">
  <h1 class="display-4">Seja bem-vindo</h1>
  <p class="lead">Aqui estão os produtos</p>
  <hr class="my-4">
  <p>Selecione:</p>
  <a class="btn btn-primary btn-lg" href="#" role="button">Cadastro de pedidos</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Cadastro de produtos</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Cadastro de pessoas</a>
  <a class="btn btn-primary btn-lg" href="#" role="button">Order Details</a>
</div>

<p>
  <%= link_to "Português", root_path(locale: 'pt-BR') %>
</p>
<p>
  <%= link_to "English", root_path(locale: 'en') %>
</p>

<p>O idioma usado nessa aplicação é: <%= t('language') %></p>
<p><strong>Data:</strong> <%= l(Date.today) %></p>

<ul>
  <li><%= link_to "",  orders_path %></li>
  <li><%= link_to "",  products_path %></li>
  <li><%= link_to "",  people_path %></li>
  <li><%= link_to "",  order_details_path %></li>
</ul>