<div class="nested-fields">
  <br>
  <div class="row">
    <div class='col-9' style='display:inline'>
      <%= f.label :product %>
      <%= f.collection_select(:product_id, @set_product_options, :id, :name, {include_blank: false}, {class: "form-select"}) %>
    </div>

    <div class="col-2" style='display:inline'>
      <%= f.label :quantity %>
      <%= f.number_field :quantity, class:"form-control"  %>
    </div>

    <div class="col-1">
      <%= f.label " " %>
      <%= link_to_remove_association t('order.remove'), f, class:"btn btn-outline-danger"%>
    </div>
  </div>
</div>