<p id="notice"><%= notice %></p>

<h1><%= @orders.model_name.human(count: 2) %></h1>

<table>
  <thead>
    <tr>
      <th><%= @orders.human_attribute_name(:id) %></th>
      <th><%= @orders.human_attribute_name(:name) %></th>
      <th><%= @orders.human_attribute_name(:created_at) %></th>
      <th><%= @orders.human_attribute_name(:updated_at) %></th>
      <th><%= @orders.human_attribute_name(:person) %></th>
      <th><%= @orders.human_attribute_name(:product) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.name %></td>
        <td><%= datahora_br(order.created_at) %></td>
        <td><%= datahora_br(order.updated_at) %></td>
        <td><%= order.person.name %></td>
        <td><%= order.products.ids %></td>
        <td><%= link_to t('links.show'), order %></td>
        <td><%= link_to t('links.edit'), edit_order_path(order) %></td>
        <td><%= link_to t('links.delete'), order, method: :delete, data: { confirm: t('sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.order'), new_order_path %>
<%= link_to 'Menu', root_path %>
