<p id="notice"><%= notice %></p>

<h1><h1><%= @products.model_name.human(count: 2) %></h1>
</h1>

<table>
  <thead>
    <tr>
      <th><%= @products.human_attribute_name(:id) %></th>
      <th><%= @products.human_attribute_name(:name) %></th>
      <th><%= @products.human_attribute_name(:price) %></th>
      <th><%= @products.human_attribute_name(:created_at) %></th>
      <th><%= @products.human_attribute_name(:updated_at) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= datahora_br(product.created_at) %></td>
        <td><%= datahora_br(product.updated_at) %></td>
        <td><%= link_to t('links.show'), product %></td>
        <td><%= link_to t('links.edit'), edit_product_path(product) %></td>
        <td><%= link_to t('links.delete'), product, method: :delete, data: { confirm: t('sure') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.product'), new_product_path %>
<%= link_to 'Menu', root_path %>
