<span style="color:green" ><%= notice %></span>
<span style="color:red"><%= alert %></span>

<h1><%= Product.model_name.human(count: 2) %></h1>

<%
  if @products.empty?
    flash.alert = t('notice.product.seed')
  end
%>

<script>
//  $.notify('Popule o mercado com o comando db:seed', 'info')
</script>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= Product.human_attribute_name(:id) %></th>
      <th><%= Product.human_attribute_name(:name) %></th>
      <th><%= Product.human_attribute_name(:price) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.name %></td>
        <td>R$ <%= product.price %></td>
        <td class="col-1"><%= link_to t('links.show'), product, class: "btn btn-light btn-sm" %></td>
        <td class="col-1"><%= link_to t('links.edit'), edit_product_path(product), class: "btn btn-light btn-sm" %></td>
        <td class="col-1"><%= link_to t('links.delete'), product, method: :delete, data: { confirm: t('sure') }, class: "btn btn-light btn-sm" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new.product'), new_product_path, class:"btn btn-primary" %>
<%= link_to 'Menu', root_path, class:"btn btn-outline-primary" %>
