<div class="jumbotron">
  <h1 class="display-4"><%= t('welcome.title') %></h1>
  <p class="lead"><%= t('welcome.description') %></p>
  <hr class="my-4">

  <p><%= t('welcome.select') %>:</p>
  <%= link_to "#{Order.model_name.human(count: 2)}",  orders_path, class:"btn btn-primary", role:"button" %>
  <%= link_to "#{Product.model_name.human(count: 2)}",  products_path, class:"btn btn-primary", role:"button" %>
  <%= link_to "#{Person.model_name.human(count: 2)}",  people_path, class:"btn btn-primary", role:"button" %>
  <br><br>
  <%= link_to "#{OrderDetail.model_name.human(count: 2)}",  order_details_path, class:"btn btn-outline-light", role:"button" %>
</div>

<% if user_signed_in? %>
  <p>Usuário (<%= current_user.email %>) está logado.</p>
  <p><%= link_to "Fazer logoff [Usuário]", destroy_user_session_path, method: :delete %></p>
<% else %>
  <p>Usuário não está logado.</p>
  <p><%= link_to "Fazer login [Usuário]", users_backoffice_welcome_index_path %></p>
<% end %>

<% if admin_signed_in? %>
  <p>Administrador (<%= current_admin.email %>) está logado.</p>
  <p><%= link_to "Fazer logoff [Administrador]", destroy_admin_session_path, method: :delete %></p>
<% else %>
  <p>Administrador não está logado.</p>
  <p><%= link_to "Fazer login [Administrador]", admins_backoffice_welcome_index_path %></p>
<% end %>